html,
body,
.app {
    /* probably unecessary, transitional until layout is refactored */
    width: 100%; 
    height: 100%;
    margin: 0;

    /* Setting min height/width makes the UI scroll below those sizes */
    /*min-width: 1024px;
    min-height: 640px;*/ /* Min height to fit sprite/backdrop button */
}

/* Portrait orientation */
@media screen and (max-width:599px) {
html,
body,
.app {
    /* probably unecessary, transitional until layout is refactored */
    width: 200vw; 
    height: 100vh;
    margin: 0;
	overflow-x: scroll;
    /* Setting min height/width makes the UI scroll below those sizes */
    /*min-width: 1024px;*/
    /*min-height: 640px;*/ /* Min height to fit sprite/backdrop button */
}
}

/* Landscape orientation */
@media screen and (min-width:600px) and (max-width:1023px)  {
html,
body,
.app {
    /* probably unecessary, transitional until layout is refactored */
    width: 100vw; 
    height: 100vh;
    margin: 0;
    /* Setting min height/width makes the UI scroll below those sizes */
    /*min-width: 1024px;*/
	 min-height: calc(max(320px, 100vh)); /* Min height to fit sprite/backdrop button */	
}
}

/* @todo: move globally? Safe / side FX, for blocks particularly? */
* { box-sizing: border-box; }