@import "../../css/units.css";
@import "../../css/colors.css";

.wrapper {
    display: flex;
    flex-grow: 1;
    border: 1px solid $ui-black-transparent;
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
}

[dir="ltr"] .wrapper {
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .wrapper {
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}

.detail-area {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: visible;
}

[dir="ltr"] .detail-area {
    border-left: 1px solid $ui-black-transparent;
}

[dir="rtl"] .detail-area {
    border-right: 1px solid $ui-black-transparent;
}

/* Deal with minimum width for paint editor by scaling.
   Horrible hack for now. Could either calculate dynamically or
   change the minimum width for the paint editor when on mobile
*/

@media screen and (min-height: 360px) and (max-height: 399px) and (min-width: 600px) and (max-width: 1023px){
.wrapper {
--factor: 0.5;
/*height: calc(628px * var(--factor));*/
/*width: calc(780px * var(--factor));*/
/*width: calc((653px * var(--factor)) + 75px);*/
}
}

@media screen and (min-height: 390px) and (max-height: 425px) and (min-width: 600px) and (max-width: 1023px){
.wrapper {
--factor: 0.55;
/*width: calc((653px * var(--factor)) + 75px);*/
}
}

@media screen and (min-height: 426px) and (max-height: 500px) and (min-width: 600px) and (max-width: 1023px){
.wrapper {
--factor: 0.65;
/*width: calc((653px * var(--factor)) + 75px);*/
}
}

@media screen and (min-width: 600px) and (max-width: 1023px){
.wrapper {
	max-width: calc(100vw - 260px - ($space * 2));
}
.detail-area{
	transform-origin: top left;
	transform: scale(var(--factor));
	height: 600px;
}
}