@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.stage-wrapper * {
    box-sizing: border-box;
}

.stage-canvas-wrapper {
    /* Hides negative space between edge of rounded corners + container, when selected */
    user-select: none;
}

.stage-wrapper.full-screen {
    position: fixed;
    top: $stage-menu-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-stage-wrapper-overlay;
    background-color: $ui-white;
    /* spacing between stage and control bar (on the top), or between
    stage and window edges (on left/right/bottom) */
    padding: $stage-full-screen-stage-padding;

    /* this centers the stage */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage-wrapper {
	display: flex;
    flex-direction: column;
}

@media screen and (max-width:1023px)  { 

.stage-wrapper.full-screen {
top: 1.5rem;
width: 100vw;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}
}

@media screen and (min-width: 600px) and (max-width:1023px)  { 
.stage-wrapper.full-screen {
 flex-direction: row;
 justify-content: space-around;
}
}
